.app__container {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: .25fr 3fr .25fr;
  grid-template-rows: .1fr .1fr 1fr;
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}
.app__header{
  grid-row: 1;
  grid-column: 2/span 2;
}

.app__filterbar{
  grid-row: 2;
  grid-column: 2/span 2;
  margin-bottom: 0em;
  padding-bottom: 0em;
}
.app__leftslide{
  grid-row: 3;
  grid-column: 1;
}

.app__rightslide{
  grid-row: 3;
  grid-column: 3;
}

.app__images{
  grid-row: 3;
  grid-column: 2;
  background-color: white;
  height:90%;
}