.app__filterbar{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .25fr 1fr;
}

button {
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    border: none;
    font-size: 1.2em;
    grid-column: 1;
    grid-row: 1;
}

.filtermodal__container {
    grid-column: 2;
    grid-row: 1;
}
