.filtermodal__container {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.filtermodal__styleform{
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 0em;
}

.filtermodal__qualityform{
  grid-column: 2;
  grid-row: 1;
}
label {
  font-size: 1.2em;
}
.filtermodal__stylesdropdown {
  background-color: whitesmoke;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

.filtermodal__qualitydropdown {
  background-color: whitesmoke;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}